*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.loginArea {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  background-image: url("https://cdn4.vectorstock.com/i/thumb-large/07/43/colorful-up-hand-background-vector-1810743.jpg" );
}

.signupArea {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  background-image: url("https://cdn4.vectorstock.com/i/thumb-large/07/43/colorful-up-hand-background-vector-1810743.jpg" );
  margin-bottom: 10px;
}


.signin-box {
padding: 50px 60px;
background-color: white;
width: 400px;
position: relative;
}

.login-container {
padding: 50px 60px;
background-color: white;
width: 400px;
position: relative;
}

.sign-up-link {
  width: 100%;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 4px;
  margin: 10px;
  text-align: center;
}

.signin-title {
margin-top: 10px;
text-align: center;
padding-bottom: 20px;
font-style: italic;
font-size: 12px;
}

.signup-title {
margin-top: 10px;
text-align: center;
padding-bottom: 20px;
font-style: italic;
font-size: 12px;
}

.loginbtn {
font-size: 12px !important;
background: rgb(12, 46, 22);
width: 100%;
margin-left: auto !important;
margin-right: auto;
display: block;
padding: 9px;
color: rgb(242, 243, 239);
text-transform: uppercase;
border-radius: 2px;
font-weight: 800;
}

.username, .password, .email {
width: 100%;
font-size: 14px;
font-family: 'Work Sans', sans-serif;
padding: 4px;
box-sizing: border-box; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
border: 1px solid slategrey;
}

.title {
  font-size: 20px;
  font-style: italic;
  margin-top: 50px;
  text-align: center;
  color: fuchsia;
  
}
