*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
// .option1 {
//   margin: 200px
//   display:flex;
//   justify-content:center;
// }
// .option2 {
//   display:flex;
//   justify-content:center;
// }
// .option3 {
//   display:flex;
//   justify-content:center;
// }